a {
    text-decoration: none;
}
.header-logo-link, .header-logo-link:active, .header-logo-link:focus {
    color: #fff;
    display: inline-block;
    transition: color .2s;
}
.header-logo-link:hover {
    color: #dcdcdc;
}
p {
    margin: 16px 0;
    padding: 0;
    font-size: 15px;
}
body {
    color: #212121;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.devsite-full-site-width, .devsite-toast-fill {
    margin: 0 auto;
    max-width: 1400px;
}

.devsite-nav ul li {
    font-size: 13px;
}
.devsite-nav ul, #TableOfContents ul {
    list-style-type: none;
    line-height: 16px;
}
.devsite-nav ul {
    padding: 0;
}

#TableOfContents ul {
    padding: 5px 0;
}
#TableOfContents ul li {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.devsite-section-nav-main > .devsite-nav-item-main {
    border-bottom: 1px solid #cfd8dc;
    padding: 6px 0px 14px;
}
.devsite-nav-expandable .devsite-nav-item {
    padding-left: 18px;
}
.devsite-nav-item {
    line-height: 16px;
    margin: 8px 0 0;
    position: relative;
    color: #000;
}
.devsite-nav-title {
    color: #212121;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.devsite-nav-item-main-title {
    color: #757575;
    font-weight: bold;
    padding-right: 24px;
}
.devsite-section-nav {
    background: #f7f7f7;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 6px 12px 16px 16px;
    max-width: 256px;
    min-width: 175px;
}
.devsite-nav-item.active > .devsite-nav-title {
    color: #039be5;
    font-weight: bold;
}

#TableOfContents {
    border-left: 4px solid #4285f4;
    padding: 0;
    margin: 0;
}